        <!-- Barra superior -->
        <header class="bg-white shadow rounded-lg p-4 mb-6 flex justify-between items-center">
            <h2 class="text-xl font-semibold text-amber-800">Dashboard de Ventas</h2>
            <div class="flex items-center space-x-4">
                <button class="text-gray-500 hover:text-amber-800">
                    <i class="fas fa-bell"></i>
                </button>
                <div class="relative">
                    <img src="/placeholder.svg?height=40&width=40" alt="Perfil" class="w-10 h-10 rounded-full">
                </div>
            </div>
        </header>

<div class=" w-full max-w-7xl ">
    <iframe title="SAN MATHIAS VENTAS POWER BI INTELIGENTE NEGOCIOS" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=bdbf12e3-c18e-4b6b-ae90-1a91bdb9bc8b&autoAuth=true&ctid=8c0e2d65-5618-49e9-a0c2-28fec65ef2a8" frameborder="0" allowFullScreen="true"></iframe>
</div>